@model HtmlhelperPro.Models.User

@Html.ActionLink("链接", "action", "controller", new { name = "213", el = "---" })
@*<a href="/Home/action?name=213&amp;el=----">链接</a>*@

@Html.RouteLink("链接", new { action = "action", controller = "controller", id = 2, name = "oiure" })
@*<a href="/controller/action/2?name=oiure">链接</a>*@

<h4>------------------input控件-----------------</h4>
@Html.TextBox("name")
@*<input name="name" id="name" type="text" value="">*@
@Html.TextBox("um", "值")
@*<input name="um" id="um" type="text" value="值">*@
<h6>hidden</h6>
@Html.Hidden("um", "值")
@*<input name="um" id="um" type="hidden" value="值">*@
<h6>password</h6>
@Html.Password("pass", "初始值")
@*<input name="pass" id="pass" type="password" value="初始值">*@
<h6>checkbox</h6>
@Html.CheckBox("checks", true)
@*<input name="checks" id="checks" type="checkbox" checked="checked" value="true">*@
<h6>Radio</h6>
@Html.RadioButton("ras", "值", true)
@*<input name="ras" id="ras" type="radio" checked="checked" value="值">*@
<h6>列表框</h6>
@{
    SelectListItem selectListItem;
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    for (int i = 0; i < 10; i++)
    {
        selectListItem = new SelectListItem();
        selectListItem.Text = "文本" + i;
        selectListItem.Value = "morenzhi" + i;
        selectListItem.Selected = false;
        selectListItems.Add(selectListItem);
    }
}
@Html.DropDownList("id", selectListItems)
@*
        <select name="id" id="id" data-val-required="The id field is required." data-val="true"><option value="morenzhi0">文本0</option>
    <option value="morenzhi1">文本1</option>
    <option value="morenzhi2">文本2</option>
    <option value="morenzhi3">文本3</option>
    <option value="morenzhi4">文本4</option>
    <option value="morenzhi5">文本5</option>
    <option value="morenzhi6">文本6</option>
    <option value="morenzhi7">文本7</option>
    <option value="morenzhi8">文本8</option>
    <option value="morenzhi9">文本9</option>
    </select>
*@
<h6>listbox</h6>
@Html.ListBox("nm",selectListItems)
<h6>添加属性</h6>
@Html.TextArea("mytextarea","初始值",new  { @class="lei",@style="height:100px"});

<a asp-controller="tags" asp-action="index">链接到taghelper</a>